{{#extends "base"}}

{{#block "content"}}
<div class="alert alert-danger">
    Your payment has not been processed. Please double check your payment details
    <div>
        <a href="/checkout/" class="btn btn-primary">Try Again</a>
    </div>
</div>
{{/block}}

{{/extends}}