{{#extends "base"}}

{{#block "content"}}
<div class="alert alert-success">
    Your payment has been processed! Thank you for your support!
    <div>
        <a href="/products" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{{/block}}

{{/extends}}