{{#extends 'base'}}

{{#block "content"}}

<main>


  <style>
    .carousel-item {
      position: relative;
      height: 100%;
    }

    .carousel-item img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #fff;
      text-align: center;
      opacity: 1;
    }
  </style>
  <title>Metaverse Therapy: HomePage</title></svg>

  <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="images/hero1.jpg" alt="Image 1">
        <div class="overlay">

          <div class="overflow-hidden text-center mt-5">
            <h1 class="display-6 fw-normal">Welcome to Metaverse Therapy!</h1>
            <p class="lead fw-normal mt-2">An online platform for drug addiction people to heal through the digital
              world.
            </p>
            <a class="btn btn-secondary mt-4" href="#productPos">Main Products</a>
          </div>

        </div>
      </div>
      <div class="carousel-item">
        <img src="images/hero2.jpg" alt="Image 2">
        <div class="overlay">
          <div class="overflow-hidden text-center mt-5">
            <h1 class="display-6 fw-normal">Welcome to Metaverse Therapy!</h1>
            <p class="lead fw-normal mt-2">An online platform for drug addiction people to heal through the digital
              world.
            </p>
            <a class="btn btn-secondary btn-lg mt-4" href="#productPos">Main Products</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/hero3.jpg" alt="Image 3">
        <div class="overlay">
          <div class="overflow-hidden text-center mt-5">
            <h1 class="display-6 fw-normal">Welcome to Metaverse Therapy!</h1>
            <p class="lead fw-normal mt-2">An online platform for drug addiction people to heal through the digital
              world.
            </p>
            <a class="btn btn-secondary mt-4" href="#productPos">Main Products</a>
          </div>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- START THE FEATURETTES -->
  {{!-- @todo fix positions --}}

  <div class="container">
    {{!-- a spacer --}}
    <div class="container-fluid pt-5" id="productPos"> </div>

    {{!-- Title texts --}}

    <h1 class="display-5 mt-5">Featured Products</h1>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Choose your own room!</h2>
        <p class="lead">Enjoy unlimitated spaces with all styles you can possibly imagined!</p>
        <button type="button" class="btn btn-outline-secondary mt-5" href="/products">Shop</button>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="images/rooms.jpg" role="img">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Introcuding your new identity</h2>
        <p class="lead">Your new idendity with brand-new headshot images in metaverse.</p>
        <button type="button" class="btn btn-outline-secondary mt-5" href="/products">Shop</button>

      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="images/headshots.jpg" role="img">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Flexible hybrid reality healing programs</h2>
        <p class="lead">A flexible choices for you to heal you body and your mind.</p>
        <button type="button" class="btn btn-outline-secondary mt-5" href="/products">Shop</button>

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="images/programs.jpg" role="img">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
  </div>

  {{/block}}

  {{/extends}}