{{#extends 'base'}}

{{#block 'content'}}
    <h1>Login Page</h1>
    <form method="POST">
        { <input type="hidden" name="_csrf" value="{{csrfToken}}"/> }
        {{{form}}}
        <input type="submit" value="login" class="btn btn-primary mt-3"/>
{{/block}}

{{/extends}}
