{{#extends 'base'}}

{{#block 'content'}}

{{!-- {{#extends 'userpage'}}
{{/extends}} --}}

<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
        .background-radial-gradient {
            background-color: hsl(218, 0%, 15%);
            background-image: radial-gradient(650px circle at 0% 0%,
                    hsl(218, 0%, 35%) 15%,
                    hsl(218, 0%, 30%) 35%,
                    hsl(218, 0%, 20%) 75%,
                    hsla(218, 0%, 19%, 0.455) 80%,
                    transparent 100%),
                radial-gradient(1250px circle at 100% 100%,
                    hsl(218, 0%, 45%) 15%,
                    hsl(218, 0%, 30%) 35%,
                    hsl(218, 0%, 20%) 75%,
                    hsl(218, 0%, 19%) 80%,
                    transparent 100%);
        }

        .bg-glass {
            background-color: hsla(0, 0%, 100%, 0.9) !important;
            backdrop-filter: saturate(200%) blur(25px);
        }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 0%, 95%)">
                    Welcome back to<br />
                    <span style="color: hsl(218, 0%, 75%)">
                        <h1 class="mt-2 my-5 display-5 fw-bold ls-tight">MetaTherapy! </h1>
                    </span>
                </h1>
                <h4 class="mb-4 opacity-70" style="color: hsl(218, 0%, 85%)">
                    Your second home for clean and healthy future.
                    <h4>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card bg-glass mt-5">
                    <div class="card-body px-4 py-5 px-md-5">
                        
                        <form method="POST">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                            {{{form}}}
                            <div class="text-center">
                                <input type="submit" value="Login" class="btn btn-secondary mt-3" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->


{{/block}}

{{/extends}}